<div id="main-content" class="container">
    <div class="flex-container">

        <% if(locals.user) {%>
        <!-- Write the aside section in here like all the options for user. They will only be visible whwn the user is logged In. -->
        <div class="sidebar">
            <a href="/user/money/deposit">Deposit Money</a>
            <a href="/user/money/withdraw">Withdraw money</a>
            <a href="/user/money/transfer">Transfer money</a>
            <a href="/user/recent-transactions/<%=user._id %>">Recent Transactions</a>
            <a href="/user/account-details/<%= user._id %>">Account Details</a>
            <a href="/user/balance/<%=user._id%>">Check Balance</a>
            <a href="/play-game">Play to Earn</a>
        </div>
       

        <div class="table-responsive text-nowrap">
         
          <!--Table-->
          <br>
          <table class="table table-striped">
            <caption><h1 class="text-center">Account Details</h1></caption>

            <!--Table head-->
            <tbody>
              <tr>
                <th scope="row">Account Number :</th>
                <td><%=user.account_number%></td>
              </tr>
              <tr>
                <th scope="row">Name :</th>
                <td><%=user.name%></td>
              </tr>
              <tr>
                <th scope="row">Email id :</th>
                <td><%=user.email%></td>
              </tr>
              <tr>
                <th scope="row">Phone Number Linked :</th>
                <td><%=user.phone%></td>
              </tr>
              <tr>
                <th scope="row">Gender :</th>
                <td><%=user.gender%></td>
              </tr>
              <tr>
                <th scope="row">Aadhar Number :</th>
                <td><%=user.aadhar_number%></td>
              </tr>
              <tr>
                <th scope="row">Nationality :</th>
                <td><%=user.nationality%></td>
              </tr>
              <tr>
                <th scope="row">Date of Birth :</th>
                <td><%=user.dob%></td>
              </tr>
            </tbody>
            <!--Table body-->
  
  
          </table>
          <!--Table-->
        </div>
        <div>
          <h4>Account Number : <%= user.account_number %></h4>
          <img src="<%=user.avatar %>" alt="<%=user.name%>" width="100">
          <button><a href="/user/update-details">Update Account Details</a></button>
      </div>
<!---if user not found--->
        <% } else { %>
          <button><a href="/user/login">LOGIN</a></button>
      <% } %>

    </div>
</div>