<div id="main-content" class="container">
    <div class="flex-container">

      <%- include('../_partials/_aside'); %>
       

        <div class="style-img-box"> 
          <!---- <h4>Account Number : <%= user.account_number %></h4>-->
           <img src="<%=user.avatar %>" class="style-image" width="100px" alt="<%=user.name%>"><br>
           <button><a href="/user/update-details">Update Account Details</a></button>
       </div>


        <div class="table-responsive text-nowrap">
         
          <!--Table-->
          <br>
          <table class="table table-striped">
            <caption><h1 class="text-center">Account Details</h1></caption>

            <!--Table head-->
            <tbody>
              <tr>
                <th scope="row">Account Number :</th>
                <td><%=user.account_number%></td>
              </tr>
              <tr>
                <th scope="row">Name :</th>
                <td><%=user.name%></td>
              </tr>
              <tr>
                <th scope="row">Email id :</th>
                <td><%=user.email%></td>
              </tr>
              <tr>
                <th scope="row">Phone Number Linked :</th>
                <td><%=user.phone%></td>
              </tr>
              <tr>
                <th scope="row">Gender :</th>
                <td><%=user.gender%></td>
              </tr>
              <tr>
                <th scope="row">Aadhar Number :</th>
                <td><%=user.aadhar_number%></td>
              </tr>
              <tr>
                <th scope="row">Nationality :</th>
                <td><%=user.nationality%></td>
              </tr>
              <tr>
                <th scope="row">Date of Birth :</th>
                <td><%=user.dob%></td>
              </tr>
            </tbody>
            <!--Table body-->
  
  
          </table>
          <!--Table-->
        </div>
        
<!---if user not found--->
        
    </div>
</div>