<a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <br class="hidden-xs"><i class="fa fa-bell"></i>
</a>


    <ul class="dropdown-menu">
      <li class="hed text-light bg-dark">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 bell-hea">
            <span>Notifications (3)</span>

        
            <a href="" class="sd text-light">Mark all as read</a>
          </div>
        </div>
      </li>
      <li class="notification-box bg-gray">
        <div class="row">   
          <div class="col-lg-8 col-sm-8 col-8">
              <% if(locals.user) { %> 
                
                <ol>
                  <% for(request of all_requests) { %> 
          
                    <div>
                      <p> 
                        <% if(request.completed == false) { %> 
                          <% if(request.sender.name == user.name) { %> 
                            
                            <strong class="text-info"> Request for money sent to <%= request.receiver.name %> </strong>
                            <br>
                            <small class="text-warning" style="color: brown;">Status: Pending</small> 
                          
                          <% } else { %> 
                            <strong class="text-info"> <%= request.sender.name %> Requested <%= request.amount%> Rupees </strong>
                            <br>
                            <a href="/user/money/request-money-transfer/<%= request._id %>"> <small class="text-warning" style="color: red;">Tranfer Money</small> </a> 
                          <% } %>

                            
                        <% } else { %> 
                         
                          <% if(request.sender.name == user.name) { %> 
                            
                            <strong class="text-info"> Request for money sent to <%= request.receiver.name %> </strong>
                            <br>
                            <small class="text-warning" style="color: green;">Status : Money Received</small>
                          
                          <% } else { %> 
                            <strong class="text-info"> <%= request.sender.name %> Requested <%= request.amount%> Rupees </strong>
                            <br>
                            <small class="text-warning" style="color: green;">Status : Money Tranferred</small>

                          <% } %>
                          
                        <% } %>
                      </p> 
                      
                    </div>
                    
                  <% } %>
          
                </ol>

              <% } else { %> 
                <h5>Abhi Ni</h5>
              <% } %>
          </div>    
        </div>
      </li>
      <li class="notification-box">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-3 text-center">
            <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
          </div>    
          <div class="col-lg-8 col-sm-8 col-8">
            <strong class="text-info">David John</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur
            </div>
            <small class="text-warning">27.11.2015, 15:00</small>
          </div>    
        </div>
      </li>
      <li class="notification-box">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-3 text-center">
            <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
          </div>    
          <div class="col-lg-8 col-sm-8 col-8">
            <strong class="text-info">David John</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur
            </div>
            <small class="text-warning">27.11.2015, 15:00</small>
          </div>    
        </div>
      </li>
      <li class="footer bg-dark text-center">
        <a href="" class="text-light">View All</a>
      </li>
    </ul><!---dropdown menu ended-->